/*ADJUST CSS SETTINGS*/

li{
  list-style: none;
}
.ingredientListCB{
  display: inline-block;
  width: 96%;
  text-align: center;
  border: #282c34 2px solid;
}
.adjustButton{
  margin-left: 65%;
  margin-bottom: 5px;
}
.servingsA{
  width: 50%;
  display: inline-block;
  float: left;
  padding-top: 20px;
}
body{
  background-color: #efefef;
}
.adjustHead{
  background-color: #282c34;
  margin-bottom: 1%;
  color: white;
}


/*END OF ADJUST CSS SETTINGS*/