/*ADJUST CSS SETTINGS*/

li{
  list-style: none;
}
.ingredientListCB{
  display: inline-block;
  width: 96%;
  text-align: center;
  border: #282c34 2px solid;
}
.adjustButton{
  margin-left: 65%;
  margin-bottom: 5px;
}
.servingsA{
  width: 50%;
  display: inline-block;
  float: left;
  padding-top: 20px;
}
body{
  background-color: #efefef;
}
.adjustHead{
  background-color: #282c34;
  margin-bottom: 1%;
  color: white;
}


/*END OF ADJUST CSS SETTINGS*/

.nav{
  background-color: #d0d0d0d0;
}
.Main{
  background-color: #fffff;
}

.aside{
  background-color: #e6e6e6;
  height: 100vh;
  margin: 0;
}
img{
  height: 100px;
  width: 100px;
  display: inline-block;
  margin:8px;
  flex-grow: 1;
  text-align: center;
}


.addrec{
  height:100px;
  width: 100px;
  background-color: #5a6268;
  display: inline-block;
}

h3{
  margin: 40px 5px;
}

a{
  color: #5a6268;
  font-size: 20px;
  /*margin: 50px 5px;*/
}

.FoodList{
  float: right;
  display: inline-block;
}

.Main{
  margin: 0;
}

.clearfix {
  overflow: auto;
}


.linksNav{
  display: inline-block;
  list-style: none;
}

li{
  display: inline-block;
  float: right;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
}

#foodType{
  width: 20%;
  display: inline-block;
  margin-left: 10px;
}

.midButt{
  width: 20%;
  display: inline-block;
  margin-left: 10px;
  border: 1px solid dimgrey;
}



#foodTemp{
  width: 20%;
  display: inline-block;
  margin-left: 10px;
}

#amount{
  width: 15%;
  display: inline-block;
}

#loaf{
   width: 30%;
  display: inline-block;

}

#numberAmount{
  width: 20%;
  display: inline-block;


}

#units{
  width: 20%;
  display: inline-block;

}

#ingredient{
  width: 20%;
  display: inline-block;

}

.rec{
  display: flex;
  width: 100%;
}

.menuButton{
  margin-top: 30px;
}